.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem;

  &__subheading {
    margin-bottom: 1rem;

    & a {
      text-decoration: none;
      color: #666;
    }
  }
}
