.search {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__input {
    width: 50%;
    padding: 0.8rem 1.5rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 100px;
  }

  &__results {
    width: 65%;
    height: 60%;
    overflow: auto;
  }
}
